.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #000;
  text-align: left;
  margin-left: 200px;
}

.tooltip h3 {
  margin: 12px 0;
}

.tooltip .bottom {
  min-width: 50px;
  /*max-width:400px;*/
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  color: #ffff;
  background-color: transparent;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  display: none;
}

.tooltip:hover .bottom {
  display: block;
}

.tooltip .bottom i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .bottom i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
